<p>You are being eaten by a pack of small worms crawling up your feet and legs...</p>

<p>You begin to feel happy and your body stopped hurting....Oddly enough, you feel increasingly better as more worms crawl on you.</p>

<p>Maybe you can just lay down in the corner for a while. This room isn't so bad, and at least you have friends to keep you company...</p>

<p><a href="/room_two">Go West</a></p>
<p><a href="/room_five">Go East</a></p>
<p><a href="/start">Go North</a></p>
<p><a href="/room_one">Go South</a></p>
