<h3>You enter a room full of 2019 Vokswagen Beetles, and the door you just cam through is gone.</h3>

<p>A man wearing a suit covered in clown print greets you.</p>



<p>Hello! The Lord of Hell and all Danimals has decided that you will stay here until you have repaired every one of these cars. There are exactly Infinity +1 of them....</p>

<h1>GOOD LUCK, SAM!</h1>

<p>Oh, and the only food you will ever have is burned pizza and warm flat root beer.</p>

<p><a href="/start">Go North</a></p>
