<p>You are stuck in a tight hole, but you can feel something grab your feet...</p>

<p>Suddenly, you jerk yourself free and find that it is best to not look at your feet...</p>

<p>You see four exits, though some are considerably tighter fits than others....</p>

<h4>What could your wrong?</h4>

<p><a href="/room_two">Go West</a></p>
<p><a href="/room_three">Go East</a></p>
<p><a href="/room_four">Go North</a></p>
<p><a href="/room_six">Go South</a></p>
