<p>You are in a a large pit of fire, and you can't hear anything over the sound of sizzling...</p>

<p>You look around and see four exits, all requiring you to run on coals....barefoot...</p>

<p>You had better hurry!</p>

<p><a href="/room_two">Go West</a></p>
<p><a href="/room_three">Go East</a></p>
<p><a href="/start">Go North</a></p>
<p><a href="/room_one">Go South</a></p>
