<p>You are in a well lit room, that pulses with a red light...</p>

<p>There are pusling veins in the wall, and after attempting to grab a "handle", a large eye opens and the room begins to rumble</p>

<p>Time to go...</p>

<p><a href="/room_two">Go West</a></p>
<p><a href="/room_three">Go East</a></p>
<p><a href="/start">Go North</a></p>
<p><a href="/room_one">Go South</a></p>
