<p>As you enter a mostly dark room, you stumble off a small ledge into a large pool of warm liquid. You immediately smell sulfur and feel a deep burning sensation in your legs and feet.</p>

<p>Scanning the room quickly, you see 4 openings...</p>

<h1>RUN!</h1>

<p><a href="/room_two">Go West</a></p>
<p><a href="/room_three">Go East</a></p>
<p><a href="/start">Go North</a></p>
<p><a href="/room_four">Go South</a></p>
