<h1>Welcome to HELL, Meatsack</h1>

<p>You are in a pitch black room. You feel sweaty and groggy. Suddenly, you hear the sound of screaming and realize you are not in kansas anymore.</p>

<p>Walking around touching the walls, you feel rough had surfaces, reminding you of rock. Occasionally, your feel wet patches that make a squishing sound, and feel slightly spongelike, while your hands feel soaked in warm fluid.</p>

<p>After a long panicked trip around the room, you have found four openings. Now that your eyes have adjusted, you can just barely detect their outlines.</p>

<p><a href="/room_two">Go West</a></p>
<p><a href="/room_three">Go East</a></p>
<p><a href="/start">Go North</a></p>
<p><a href="/room_one">Go South</a></p>
